@font-face {
  font-family: "avenir_nextregular";
  src: url("../avenirnext-regular-webfont.eot");
  src: url("../avenirnext-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../avenirnext-regular-webfont.woff2") format("woff2"),
    url("../avenirnext-regular-webfont.woff") format("woff"),
    url("../avenirnext-regular-webfont.ttf") format("truetype"),
    url("../avenirnext-regular-webfont.svg#avenir_nextregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratregular";
  src: url("../montserrat-webfont.eot");
  src: url("../montserrat-webfont.eot?#iefix") format("embedded-opentype"),
    url("../montserrat-webfont.woff2") format("woff2"),
    url("../montserrat-webfont.woff") format("woff"),
    url("../montserrat-webfont.ttf") format("truetype"),
    url("../montserrat-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: "Roboto", sans-serif; */
  background-color: #ffffff;
  color: #434455;
}

.container {
  max-width: 448px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
/** --------------header--------------- */
.button-header {
  display: none;
}
.container-header {
  background-color: #6d31d0;
}
.header-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button-open {
  border: none;
  box-shadow: none;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.icon-open {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
}

/** --------------modal-menu--------------- */
.modal-mobail {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mobail-item {
  position: fixed;
  min-width: 200px;
  min-height: 260px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 30px 0px 30px 30px;
  background: var(--white, #fefefe);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  top: 22%;
  left: 72%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal {
  margin-left: auto;
  background-color: transparent;
  margin-bottom: 32px;
  border: none;
  box-shadow: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  top: 5px;
  right: 11px;
  position: absolute;
  padding: 0px;
}
.header-menu {
  font-size: 16px;
  font-style: normal;
  font-family: Avenir Next;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  color: #434364;
  text-align: center;
}
.header-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  margin-top: 20px;
}
.header-list-tablet {
  display: none;
}

/** --------------section-1--------------- */

.section-family {
  background-image: url(../images/family-info-tel.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 470px;
  padding-top: 60px;
}
.family-title {
  color: #434364;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  background: linear-gradient(
    178deg,
    #fff 62.06%,
    rgba(255, 255, 255, 0.77) 78.73%,
    rgba(255, 255, 255, 0) 100%
  );
}

/** --------------section-2--------------- */
.life-info {
  padding-top: 80px;
  padding-bottom: 80px;
}
.living-text {
  color: #434364;
  font-family: Avenir Next;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 34px;
}
.living-info {
  color: #434364;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.text-label {
  list-style-type: initial;
}
.img-information {
  margin: auto;
}
/** --------------section-3--------------- */
.section-community {
  padding-bottom: 34px;
}
.text-community {
  color: #434364;
  font-family: Avenir Next;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
  text-align: center;
}
/** --------------section-4--------------- */
.section-like {
  padding-bottom: 34px;
}
.text-like {
  color: #434364;
  font-family: Avenir Next;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
  margin-bottom: 34px;
  text-align: center;
}
/** --------------section-5--------------- */
.section-help-info {
  background: linear-gradient(180deg, #fefc9e 0%, #fdbfa3 78.65%);
  padding-top: 80px;
}
.text-help {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.can-help-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.can-help-list {
  width: calc((100% - 16px) / 2);
}
.img-icon-tel {
  margin: auto;
}
.info-help {
  color: #6d31d0;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  width: 190px;
}
.info-help-text {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
/** --------------FORM--------------- */
.section-contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(
    180deg,
    rgba(109, 49, 208, 0.1) 0%,
    rgba(109, 49, 208, 0.21) 28.65%,
    rgba(109, 49, 208, 0.47) 53.13%,
    #6d31d0 100%
  );
  z-index: 5;
}
.text-contact {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.contact-email-list {
}
.tel-number {
  color: #6d31d0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  margin-bottom: 30px;
}
.img-tel {
  margin-left: auto;
  margin-right: auto;
}
.img-email {
  margin-left: auto;
  margin-right: auto;
}
.email-item {
  color: #6d31d0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  margin-bottom: 39px;
}

.container-form {
  border-radius: 60px;
  opacity: 0.8;
  background: #ffdb80;
  backdrop-filter: blur(250px);
  width: 400px;
  min-height: 750px;
  padding: 34px 10px 34px 10px;
  margin-left: auto;
  margin-right: auto;
}
.send-text {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.input-name {
  border-radius: 20px;
  background: var(--pam-color-6, #fff);
  box-shadow: 0px 4px 8px 0px rgba(28, 37, 44, 0.08);
  border: none;
  width: 100%;
  height: 47px;
  margin-bottom: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  padding-left: 30px;
}
.input-name::placeholder {
  color: #434364;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.text-input {
  border-radius: 20px;
  background: var(--pam-color-6, #fff);
  box-shadow: 0px 4px 8px 0px rgba(28, 37, 44, 0.08);
  width: 100%;
  height: 200px;
  color: #434364;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  padding-left: 30px;
  padding-top: 18px;
  margin-bottom: 24px;
}
.text-input::placeholder {
  color: #434364;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}
.button-form {
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(109, 49, 208, 0.1) 0%,
    rgba(109, 49, 208, 0.21) 28.65%,
    rgba(109, 49, 208, 0.47) 53.13%,
    #6d31d0 100%
  );
  box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
  color: #0d0d0e;
  text-align: center;
  font-family: Avenir Next;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  padding: 18px 34px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
}
.text-policy {
  color: #434364;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 328px;
  margin-bottom: 32px;
}
.link-policy {
  color: #6d31d0;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
}
.input-check {
  width: 32px;
  height: 32px;
}
.container-checkbox {
  display: flex;
  justify-content: space-between;
}
/** --------------section-footer--------------- */
.section-footer {
  padding-top: 14px;
  padding-bottom: 14px;
  background: #828cde;
}

.footer-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.footer-text-policy {
  color: #fff;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}
.footer-container-comp {
  display: none;
}
