@font-face {
  font-family: "avenir_nextregular";
  src: url("../avenirnext-regular-webfont.eot");
  src: url("../avenirnext-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../avenirnext-regular-webfont.woff2") format("woff2"),
    url("../avenirnext-regular-webfont.woff") format("woff"),
    url("../avenirnext-regular-webfont.ttf") format("truetype"),
    url("../avenirnext-regular-webfont.svg#avenir_nextregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratregular";
  src: url("../montserrat-webfont.eot");
  src: url("../montserrat-webfont.eot?#iefix") format("embedded-opentype"),
    url("../montserrat-webfont.woff2") format("woff2"),
    url("../montserrat-webfont.woff") format("woff"),
    url("../montserrat-webfont.ttf") format("truetype"),
    url("../montserrat-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: "Roboto", sans-serif; */
  background-color: #ffffff;
  color: #434455;
}

.container {
  max-width: 448px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/** --------------header--------------- */

.container-header {
  background-color: #6d31d0;
}
.header-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button-open {
  border: none;
  box-shadow: none;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.icon-open {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
}

/** --------------modal-menu--------------- */
.modal-mobail {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mobail-item {
  position: fixed;
  min-width: 200px;
  min-height: 260px;
  z-index: 2;
  padding: 39px 30px 39px 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 30px 0px 30px 30px;
  background: var(--white, #fefefe);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  top: 28%;
  left: 67%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal {
  margin-left: auto;
  background-color: transparent;
  margin-bottom: 32px;
  border: none;
  box-shadow: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  top: 5px;
  right: 11px;
  position: absolute;
  padding: 0px;
}
.header-menu {
  font-size: 16px;
  font-style: normal;
  font-family: Avenir Next;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  color: var(--pam-color-5, #434364);
  text-align: center;
}
.header-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
/** --------------section-1--------------- */

.section-mobail {
  background-image: url(../images/fon-tel.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.container-fon {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 30px;
}
.link-menu {
  color: var(--pam-color-3, #ffdb80);
  text-shadow: 0px 0px 80px #023f76;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 10px;
  background: rgba(109, 49, 208, 0.5);
}
.main-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 100px rgba(2, 63, 118, 0.5);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  width: 400px;
  margin-top: 30px;
}
.main-title-next {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 100px rgba(2, 63, 118, 0.5);
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  margin-bottom: 30px;
}
.info-title {
  color: #fff;
  text-align: center;
  font-family: Avenir Next;
  text-shadow: 0px 0px 80px #023f76;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 365px;
  margin-bottom: 30px;
}
.button-info {
  border-radius: 88.166px;
  background-color: #ffeb80;
  box-shadow: 0px 3.5266273021698px 35.266273498535156px 0px
    rgba(255, 185, 175, 0.3);
  color: var(--pam-color-1, #6d31d0);
  border: none;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  padding: 16px 22px 16px 22px;
  margin-bottom: 102px;
  font-family: Montserrat;
}
.text-popular {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  font-family: Montserrat;
}
.popular-item {
  display: flex;
  gap: 20px;
}
.popular-list {
  border-radius: 12px;
  border: 2px solid var(--pam-color-6, #fff);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1.1855266094207764px 1.4226319789886475px 3.1481480598449707px 0px
      rgba(0, 0, 0, 0.02),
    5.216317176818848px 6.259580612182617px 6.518518447875977px 0px
      rgba(0, 0, 0, 0.03),
    12.803688049316406px 15.364425659179688px 13px 0px rgba(0, 0, 0, 0.04),
    24.658954620361328px 29.59074592590332px 25.481481552124023px 0px
      rgba(0, 0, 0, 0.04),
    41.49343490600586px 49.792118072509766px 46.85185241699219px 0px
      rgba(0, 0, 0, 0.05),
    64.01844024658203px 76.82212829589844px 80px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 80px;
}
.city-text {
  color: #828cde;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  padding: 5px 10px 10px 8px;
}
.nav-tablet {
  display: none;
}
/** --------------section-2--------------- */
.section-services {
  background: linear-gradient(180deg, #828cde 0%, #6d31d0 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}
.business-adaptiv {
  display: none;
}
.text-services {
  font-family: Avenir Next;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
  margin-bottom: 60px;
}
.title-item {
  font-family: Avenir Next;
  color: #434364;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
  margin-top: 20px;
}
.paragraf-item {
  font-family: Avenir Next;
  color: #434364;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.button-informacion {
  border-radius: 88.166px;
  background: var(
    --pam-color-linear-9,
    linear-gradient(152deg, #ffeb80 0%, #fdbfa3 100%)
  );
  box-shadow: 0px 3.5266273021698px 35.266273498535156px 0px
    rgba(255, 185, 175, 0.3);
  color: var(--pam-color-1, #6d31d0);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  padding: 16px 22px 16px 22px;
  border: none;
  margin-bottom: 20px;
}
.container-info {
  border-radius: 20px;
  background: var(--pam-color-6, #fff);
  box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
  width: 380px;
}
.services-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.container-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.business-tablet {
  display: none;
}
/** --------------section-3--------------- */
.section-paradise {
  background: var(
    --pam-color-linear-9,
    linear-gradient(152deg, #80d19f 0%, #fdbfa3 100%)
  );
  box-shadow: 0px 3.5266273021698px 35.266273498535156px 0px
    rgba(255, 185, 175, 0.3);
  color: var(--pam-color-1, #6d31d0);
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-size {
  max-width: 100%;
  overflow: hidden;
}

.img-size img {
  width: 100%;
  height: auto;
  margin: 0;
}
.text-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-moving {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
  width: 408px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.text-paragraf {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.text-paragraf-next {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
.button-more {
  border-radius: 88.166px;
  background: var(
    --pam-color-linear-9,
    linear-gradient(152deg, #ffeb80 0%, #fdbfa3 100%)
  );
  box-shadow: 0px 3.5266273021698px 35.266273498535156px 0px
    rgba(255, 185, 175, 0.3);
  color: #6d31d0;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  padding: 16px 22px 16px 22px;
  margin-bottom: 40px;
  border: none;
}
/** --------------section-3--------------- */
.section-cyprus {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(180deg, #fefc9e 0%, #fdbfa3 78.65%);
}
.text-cyprus {
  color: #434364;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px; /* 72.5% */
  width: 440px;
  margin-bottom: 11px;
}
.paragraf-cyprus {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.info-cyprus {
  color: #6d31d0;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}
.container-cyprus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-size {
  width: 120px;
}
.text-size-next {
  width: 188px;
}
.size-the-same {
  width: 180px;
}
.description-cyprus {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 180px;
}
.button-pros {
  border: none;
  box-shadow: none;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.pros-cyprus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 51px 40px;
}
.pros-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.img-villa-tablet {
  display: none;
}
/** --------------section-4--------------- */
.section-map {
  padding-top: 80px;
  padding-bottom: 80px;
}
.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.map-adaptiv {
  display: none;
}
.map-info {
  color: #6d31d0;
  text-align: center;
  font-family: Avenir Next;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.map-text {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 60px;
}
/** --------------section-5--------------- */
.section-we-are {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(180deg, #828cde 0%, #6d31d0 100%);
}
.text-we-are {
  color: #fff;
  font-family: Avenir Next;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px; /* 72.5% */
  margin-bottom: 24px;
  text-align: center;
}

.paragraf-we-are {
  color: #fff;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  width: 380px;
  text-align: center;
}
.paragraf-next {
  color: #fff;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 24px;
  width: 380px;
  text-align: center;
}
.button-we-are {
  border-radius: 30px;
  background: #ffdb80;
  box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
  color: #6d31d0;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  border: none;
  padding: 9px 24px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.girl-list-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.girl-info {
  color: #6d31d0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  margin-top: 14px;
  text-align: center;
}
.girl-name {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.girl-contact {
  border-radius: 24.466px;
  background: #ffdb80;
  box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
  color: #6d31d0;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
  padding: 11px 27px;
  border: none;
}
.container-girl {
  margin-top: 20px;
}
.girl-list {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  opacity: 0.8;
  background: #fff;
  box-shadow: 0px 14px 10px 0px rgba(0, 0, 0, 0.25);
  width: 380px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.girl-item-container {
  text-align: center;
}
.girl-adaptive {
  display: none;
}
/** --------------section-6--------------- */
.section-methods {
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(
    --pam-color-linear-3,
    linear-gradient(180deg, #fefc9e 0%, #fdbfa3 78.65%)
  );
}
.methods-text {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.methods-info {
  color: #6d31d0;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}
.description-methods {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 180px;
}
.item-methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 51px 40px;
}
.methods-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/** --------------section-7--------------- */
.section-contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(
    180deg,
    rgba(109, 49, 208, 0.1) 0%,
    rgba(109, 49, 208, 0.21) 28.65%,
    rgba(109, 49, 208, 0.47) 53.13%,
    #6d31d0 100%
  );
  z-index: 5;
}
.text-contact {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.contact-email-list {
}
.tel-number {
  color: #6d31d0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  margin-bottom: 30px;
}
.img-tel {
  margin-left: auto;
  margin-right: auto;
}
.img-email {
  margin-left: auto;
  margin-right: auto;
}
.email-item {
  color: #6d31d0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  margin-bottom: 39px;
}

.container-form {
  border-radius: 60px;
  opacity: 0.8;
  background: #ffdb80;
  backdrop-filter: blur(250px);
  width: 400px;
  min-height: 750px;
  padding: 34px 10px 34px 10px;
  margin-left: auto;
  margin-right: auto;
}
.send-text {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.input-name {
  border-radius: 20px;
  background: var(--pam-color-6, #fff);
  box-shadow: 0px 4px 8px 0px rgba(28, 37, 44, 0.08);
  border: none;
  width: 100%;
  height: 47px;
  margin-bottom: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  padding-left: 30px;
}
.input-name::placeholder {
  color: #434364;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.text-input {
  border-radius: 20px;
  background: var(--pam-color-6, #fff);
  box-shadow: 0px 4px 8px 0px rgba(28, 37, 44, 0.08);
  width: 100%;
  height: 200px;
  color: #434364;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  padding-left: 30px;
  padding-top: 18px;
  margin-bottom: 24px;
}
.text-input::placeholder {
  color: #434364;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}
.button-form {
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(109, 49, 208, 0.1) 0%,
    rgba(109, 49, 208, 0.21) 28.65%,
    rgba(109, 49, 208, 0.47) 53.13%,
    #6d31d0 100%
  );
  box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
  color: #0d0d0e;
  text-align: center;
  font-family: Avenir Next;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  padding: 18px 34px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
}
.text-policy {
  color: #434364;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 328px;
  margin-bottom: 32px;
}
.link-policy {
  color: #6d31d0;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
}
.input-check {
  width: 32px;
  height: 32px;
}
.container-checkbox {
  display: flex;
  justify-content: space-between;
}
/** --------------section-8--------------- */
.partners-text {
  color: #434364;
  text-align: center;
  font-family: Avenir Next;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
  margin-bottom: 40px;
}
.section-partners {
  padding-top: 60px;
  padding-bottom: 60px;
}
.partners-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  justify-content: center;
}
.partners-list {
  width: calc((100% - 16px) / 2);
}
.tel-img-partner {
  display: block;
}
.adaptive-img-partner {
  display: none;
}
/** --------------section-footer--------------- */
.section-footer {
  padding-top: 80px;
  padding-bottom: 14px;
  background: linear-gradient(180deg, #6d31d0 0%, #828cde 100%);
}
.text-asked {
  color: #fff;
  text-align: center;
  font-family: Avenir Next;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  text-transform: uppercase;
  margin-bottom: 60px;
}
.footer-container {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
  width: 380px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.button-footer {
  border-radius: 20px;
  background: linear-gradient(141deg, #53269d 0%, #6d31d0 100%);
  box-shadow: 0px 2.7141029834747314px 5.428205966949463px 0px
    rgba(28, 37, 44, 0.08);
  color: #fff;
  text-align: right;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  padding: 7px 10px;
  border: none;
  position: absolute;
  margin-top: -60px;
  margin-left: 282px;
}
.text-question {
  color: #6d31d0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.text-ambitions {
  color: #434364;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.footer-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.footer-image-tel {
  display: block;
}
.footer-image-adaptive {
  display: none;
}
.footer-text-policy {
  color: #fff;
  text-align: center;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}
/** --------------adaptive--------------- */

@media screen and (min-width: 320px) and (max-width: 440px) {
  /** --------------section-2--------------- */

  .title-item {
    font-size: 22px;
  }
  .paragraf-item {
    font-size: 16px;
    width: 290px;
  }
  .button-informacion {
    font-size: 16px;
    padding: 12px 18px 12px 18px;
  }
  .container-info {
    border-radius: 20px;
    background: var(--pam-color-6, #fff);
    box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
    width: 380px;
  }
  .business-tel {
    display: none;
  }
  .business-adaptiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container-info {
    border-radius: 20px;
    background: var(--pam-color-6, #fff);
    box-shadow: 0px 14px 23px 0px rgba(28, 37, 44, 0.08);
    width: 300px;
  }
  .services-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .container-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
  /** --------------section-3--------------- */

  .text-cyprus {
    font-size: 26px;
    width: 290px;
  }
  .paragraf-cyprus {
    color: #434364;
    text-align: center;
    font-family: Avenir Next;
    font-size: 16px;
  }
  .map-adaptiv {
    display: block;
  }
  .map-tel {
    display: none;
  }
  /** --------------section-5--------------- */

  .text-we-are {
    font-size: 32px;
  }

  .paragraf-we-are {
    width: 280px;
  }
  .paragraf-next {
    width: 280px;
  }
  .button-we-are {
    font-size: 16px;
    padding: 6px 16px;
  }

  .girl-contact {
    font-size: 16px;
    padding: 8px 20px;
  }
  .container-girl {
    margin-top: 20px;
  }
  .girl-list {
    width: 276px;
    height: 539px;
  }

  .girl-tel {
    display: none;
  }
  .girl-adaptive {
    display: block;
  }
  /** --------------tel-modal--------------- */
  .container-form {
    width: 100%;
  }
  .input-check {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }
  .tel-img-partner {
    display: none;
  }
  .adaptive-img-partner {
    display: block;
  }
  /** --------------footer--------------- */
  .footer-image-tel {
    display: none;
  }
  .footer-image-adaptive {
    display: block;
  }

  .text-asked {
    margin-bottom: 40px;
  }
  .footer-container {
    width: 260px;
    height: 443px;
  }
  .button-footer {
    padding: 4px 6px;
    margin-top: -48px;
    margin-left: 170px;
  }
  .text-question {
    width: 234px;
  }
  .text-ambitions {
    width: 227px;
  }
  .footer-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
